 body {
     background-size: cover;
     font: bold;
     padding: 0;
     margin: 0;
 }

 .button{
  
    background-color: green;
 }

 .animated
 {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

 .animated-d
 {
     animation-duration: 3s;
     animation-fill-mode: both;
 }

 .animated-s {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

 .animated-a {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

