 body {
     background-size: cover;
     font: bold;
     padding: 0;
     margin: 0;
 }

 .button{
  
    background-color: green;
 }

 .animated
 {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

 .animated-d
 {
     animation-duration: 2s;
     animation-fill-mode: both;
 }

 .animated-s {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

 .animated-a {
     animation-duration: 1s;
     animation-fill-mode: both;
 }

img {
    border: 25px;
    padding: 5px;
    width: 1280px;
    height: 960px;
}

img:hover
{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.progress {
    position: relative;
    height: 20px;
    border-radius: 0px; 
}
